.services_section_two {
  background: #f1f9f4;
  padding: 120px 0 110px;
  overflow: hidden;
}
.services_section_two .services_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.services_section_two .services_header .content {
  max-width: 450px;
}
.services_section_two .services_header .content h6 {
  font-weight: 500;
  font-size: 16px;
  font-style: italic;
  color: #797ef6;
  margin-bottom: 5px;
}
.services_section_two .services_header .content h6 {
  font-weight: 500;
  font-size: 16px;
  font-style: italic;
  color: #797ef6;
  margin-bottom: 5px;
}
.services_section_two .services_header .content h6 {
  font-weight: 500;
  font-size: 16px;
  font-style: italic;
  color: #797ef6;
  margin-bottom: 5px;
}

element.style {
  visibility: visible;
  animation-delay: 1.3s;
  animation-name: fadeInUp;
}
.services_section_two .media {
  background: #ffffff;
  border-radius: 10px;
  padding: 30px;
  margin: 10px 0;
  overflow: hidden;
  position: relative;
}
.services_section_two .media:before {
  position: absolute;
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  border: 1px dashed #ccebf8;
  border-radius: 50%;
  bottom: -100%;
  left: -100%;
  transition: all 0.3s ease;
}
.services_section_two .media .icon {
  width: 70px;
  height: 70px;
  background: #797ef6;
  border-radius: 10px;
  text-align: center;
  line-height: 70px;
}
